---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: laravel
  name: laravel
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: laravel
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      # Laravel
      - name: laravel-fpm
        env:
        {% for laravel_env in laravel_envs | map('regex_search', '^env_.*') | list %}{% if laravel_env %}{% set laravel_env_value = lookup('vars', laravel_env) %}{% if laravel_env_value  %} # if
        - name: {{ laravel_env | regex_replace('^env_(.*)$', '\\1') | upper }}
          value: '{{ lookup('vars', laravel_env) }}'
        {% endif %}{% endif %}{% endfor %} # end
        image: {{ laravel_registry_uri }}:{{ laravel_registry_tag }}
        imagePullPolicy: {{ laravel_fpm_image_pull_policy }}
        ports:
          - containerPort: 9000
        resources: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
          - name: public-files
            mountPath: /public-files
        {% if laravel_shared_public_files %} # if
        lifecycle:
          postStart:
            exec:
              command: ["/bin/sh", "-c", "cp -r /app/public/. /public-files/"]
        {% endif %} # end
        terminationMessagePolicy: File
      # Nginx
      - name: laravel-nginx
        image: openresty/openresty:stretch
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        command: ["/usr/bin/openresty", "-c", "{{ laravel_nginx_root_path }}nginx.conf"]
        volumeMounts:
          - name: public-files
            mountPath: /app/public
          {% for laravel_nginx_temp in laravel_nginx_temps %} # for
          - name: {{ laravel_nginx_temp }}
            mountPath: /usr/local/openresty/nginx/{{ laravel_nginx_temp | regex_replace('-', '_') }}
          {% endfor %} # end
          {% for laravel_nginx_config_map in laravel_nginx_config_maps %} # if
          - name: {{ laravel_nginx_config_map.name }}
            mountPath: {{ laravel_nginx_root_path }}{{ laravel_nginx_config_map.file_name }}
            subPath: {{ laravel_nginx_config_map.file_name }}
          {% endfor %} # end
        terminationMessagePolicy: File
      # end containers
      securityContext:
        runAsUser: {{ laravel_user_id }}
        fsGroup: {{ laravel_group_id }}
      automountServiceAccountToken: false
      volumes:
        {% for laravel_nginx_config_map in laravel_nginx_config_maps %} # if
        - name: {{ laravel_nginx_config_map.name }}
          configMap:
            name: laravel-nginx-{{ laravel_nginx_config_map.name }}
        {% endfor %} # end
        - name: public-files
          emptyDir: {}
        {% for laravel_nginx_temp in laravel_nginx_temps %} # for
        - name: {{ laravel_nginx_temp }}
          emptyDir: {}
        {% endfor %} # end
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
