---
kind: Service
apiVersion: v1
metadata:
  name: laravel
  namespace: {{ namespace }}
spec:
  type: {{ laravel_service_type }}
  ports:
  - name: 8080-tcp
    protocol: TCP
    port: 8080
    targetPort: 8080
  selector:
    app: laravel
